[tool.poetry]
name = "pyimg4"
version = "0.7"
description = "A Python library/CLI tool for parsing Apple's Image4 format."
authors = ["m1stadev <adamhamdi31@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/m1stadev/PyIMG4"
keywords = ["ios", "jailbreak", "iboot", "img4", "image4"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.7",
    "Topic :: Utilities"
]

[tool.poetry.scripts]
pyimg4 = "pyimg4.__main__:cli"

[tool.poetry.dependencies]
python = "^3.6"
asn1 = "^2.6.0"
click = "^8.0.0"
pycryptodome = "^3.16.0"
pyliblzfse = "^0.4.1"
pylzss = "^0.3.1"

[tool.poetry.dev-dependencies]
black = {version = "^22.10.0", python = "^3.7"}
isort = {version = "^5.10.1", python = "^3.7"}
pytest = {version = "^7.2.0", python = "^3.7"}
remotezip = {version = "^0.10.0", python = "^3.7"}

[tool.black]
skip-string-normalization = true

[tool.isort]
profile = "black"
src_paths = ["examples", "pyimg4", "tests"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/m1stadev/PyIMG4/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
