[tool.poetry]
name = "pyimg4"
version = "0.4"
description = "A Python library/CLI tool for parsing Apple's IMG4 format."
authors = ["m1stadev <adamhamdi31@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/m1stadev/PyIMG4"
keywords = ["ios", "jailbreak", "iboot", "img4"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.9",
    "Topic :: Utilities"
]
packages = [
    { include = "pyimg4" }
]

#[tool.poetry.scripts]
#pyimg4 = "pyimg4.__main__:main"

[tool.poetry.dependencies]
python = "^3.9"
asn1 = "^2.5.0"
lzss = "^0.3"
pycryptodome = "^3.14.1"
pyliblzfse = "^0.4.1"

[tool.poetry.dev-dependencies]
black = "^22.1.0"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/m1stadev/PyIMG4/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
